a {
  color: #3b5998;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar-default .navbar-brand {
  color: #fff;
}

main.container {
  margin-top: 10px;
}

.tweetInput {
  margin-bottom: 10px;
}

.feed {
  margin-top: 20px;
}
